.nav {
  background: #fff;
  padding: 1rem 0;
  width: 100%;
}

.navbar-container {
  flex-direction: row;
  justify-content: space-between;
}

.logo,
.nav-btn {
  color: $color-text;
}

.nav-btn {
  z-index: 99;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.btn-line {
  display: block;
  height: 3px;
  width: 30px;
  margin: 7px auto;
  transition: all 0.5s ease;
  background: $color-text;
}

.active .top {
  transform: translateY(10px) rotateZ(45deg);
  background: #fff;
}

.active .middle {
  width: 0;
  background: #fff;
}

.active .bottom {
  transform: translateY(-10px) rotateZ(-45deg);
  background: #fff;
}

.nav-links-container {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  background-color: $color-accent_dark;
  z-index: 98;
  display: flex;
  align-items: center;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

.nav-overlay-show {
  transform: translate(0);
}

.nav-overlay-noscroll {
  overflow: hidden;
}

.nav-links {
  height: 70vh;
  width: 100%;
  justify-content: space-around;
  text-align: center;

  a {
    font-weight: 700;
    font-size: 2rem;

    &:hover {
      text-decoration: underline;
      text-decoration-color: blue;
    }
  }
}
