.service-benefit-section {
  h2 {
    margin-bottom: 4rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-gap: 4rem 2rem;
  }

  .card {
    padding: 4rem 2rem;
    background-color: #fff;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);

    i {
      color: $color-brand;
    }

    .card-heading {
      padding: 1.5rem 0;
    }
  }
}

.product-info {
  margin-bottom: 3rem;

  h2 {
    margin-bottom: 1rem;
  }
}
