.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-content: center;
}

// .flex-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.hidden {
  display: none;
  visibility: hidden;
}
