@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import 'variables';
@import 'utilities';
@import 'nav';
@import 'animations';
@import 'mediaqueries';
@import 'about';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  // max-width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

body {
  background-color: $color-background;
  color: $color-text;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

// Responsive texts below - max width needs to = container max width

h1 {
  font-size: calc(2rem + (80 - 32) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.1;
}

h2 {
  font-size: calc(1.5rem + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.1;
}

h3 {
  font-size: calc(1.2rem + (24 - 19.2) * ((100vw - 300px) / (1600 - 300)));
}

p {
  font-size: calc(1rem + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}

a {
  font-size: calc(0.8rem + (18 - 12.8) * ((100vw - 300px) / (1600 - 300)));
}

.showcase {
  position: relative;
  height: 90vh;
}

.showcase::after {
  content: '';
  height: 90vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/test2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.showcase-content {
  height: 100%;
  text-align: center;
  color: #fff;

  h1 {
    margin-bottom: 1.5rem;
    // font-size: 2.5rem;
  }

  p {
    // font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  .cta-secondary {
    display: none;
    visibility: hidden;
  }
}

.about-section {
  padding-top: 5rem;
  position: relative;

  &::before {
    content: '';
    height: 70rem;
    width: 100%;
    background-color: $color-accent_light;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  h2 {
    border-bottom: 3px solid $color-brand;
    width: fit-content;
    margin-bottom: 4rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-gap: 4rem 2rem;
  }

  .card {
    padding: 4rem 2rem;
    // margin-bottom: 4rem;
    background-color: #fff;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);

    i {
      color: $color-brand;
    }

    .card-heading {
      padding: 1.5rem 0;
      // font-size: 1.2rem;
    }
  }
}

.company-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4rem;

  img {
    &:nth-child(1) {
      width: min(20%, 130px);
      margin-right: 1.5rem;
      // margin-bottom: 1.5rem;
    }

    &:nth-child(2) {
      width: min(71%, 450px);
      // width: 71%;
      // margin-bottom: 1.5rem;
    }

    &:nth-child(3) {
      width: min(25%, 120px);
      // width: 25%;
      margin-right: 1.5rem;
    }

    &:nth-child(4) {
      width: min(66%, 280px);
      // width: 66%;
    }
  }
}

.services-section {
  padding-top: 5rem;

  h2 {
    border-bottom: 3px solid $color-brand;
    width: fit-content;
  }

  .service-container {
    margin: 4rem 0 5rem;

    img {
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    }
  }

  .service-heading {
    // font-size: 1.2rem;
    padding-top: 1.5rem;
  }

  .service-text {
    padding: 1rem 0 1.5rem;
  }

  // .btn {
  //   // font-size: 0.8rem;
  // }
}

.footer {
  margin-top: 5rem;
  display: grid;

  // .contact-container {
  //   background-color: #fff;
  //   grid-column: 1;
  //   grid-row: 1 / 3;
  //   text-align: center;
  //   z-index: 1;
  //   padding: 2rem;

  //   p {
  //     // font-size: 1.2rem;
  //     font-weight: bold;
  //     // padding: 2rem 1.5rem 1.5rem;
  //     padding-bottom: 1rem;
  //     line-height: 1.2;
  //   }

  //   // .btn {
  //   //   // font-size: 0.8rem;
  //   //   // margin-bottom: 2rem;
  //   // }
  // }

  .footer-container {
    background-color: $color-accent_dark;
    // z-index: -1;
    grid-column: 1;
    grid-row: 2 / 5;
  }

  .footer-container-content {
    color: #fff;
    margin-top: 10rem;
    text-align: center;
  }

  .footer-info {
    font-size: calc(0.8rem + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 1rem;
  }

  .footer-list {
    padding-top: 2rem;
  }

  .footer-heading {
    // font-size: 1.2rem;
    font-weight: bold;
  }

  .footer-links {
    li {
      margin: 1rem 0;
    }
  }

  .footer-social-links {
    padding-bottom: 5rem;
    // font-size: 1.2rem;

    a:nth-child(-n + 2) {
      margin-right: 1rem;
    }
  }
}

.contact-container {
  background-color: #fff;
  grid-column: 1;
  grid-row: 1 / 3;
  text-align: center;
  z-index: 1;
  padding: 2rem;

  h2 {
    // font-size: 1.2rem;
    font-weight: bold;
    // padding: 2rem 1.5rem 1.5rem;
    padding-bottom: 1rem;
    line-height: 1.2;
  }

  // .btn {
  //   // font-size: 0.8rem;
  //   // margin-bottom: 2rem;
  // }
}
