@import 'variables';
@import 'utilities';
@import 'nav';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: $color-background;
  color: $color-text;
}

.showcase {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/homepage.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.showcase-content {
  height: 100vh;
  text-align: center;
  padding: $paddingX;
  color: #fff;

  h1 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
}

.cta-primary {
  background-color: $color-brand;
  color: #fff;
}

.cta-secondary {
  border: 3px solid $color-brand;
  color: #fff;
}

.about-section {
  padding: $paddingX;
  padding-top: 5rem;

  h2 {
    text-align: center;
  }

  .card {
    padding: 4rem;
    margin: 3rem 0;
    background-color: #fff;
    text-align: center;

    .card-heading {
      padding: 1.5rem 0;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

.company-logos {
  display: flex;
  flex-wrap: wrap;

  img {
    width: 50%;
    height: 100%;
  }
}
